language: node_js
node_js:
- 10.16.0
branches:
  only:
  - source

install: npm install

before_script:
- git config --global user.name "Gabriel Loewen"
- git config --global user.email "gabloe@microsoft.com"
- sed -i "s/__GITHUB_TOKEN__/${__GITHUB_TOKEN__}/" _config.yml

script: npm run build
